<nav class="navbar navbar-expand-md navbar-light" role="navigation">
    <a class="navbar-brand" href="#" title="Logo">
        EveryCom
    </a>
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" role="menu">
            <li>
                <a class="nav-link " href="#" title="Mp3" role="menuitem">
                    Contact
                </a>
            </li>
            <li>
                <a class="nav-link " href="#" title="Mp3" role="menuitem">
                    About
                </a>
            </li>

        </ul>
    </div>
</nav>