<main class="site-main pt-4 pt-sm-5 pb-5">
    <section class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h2 mt-2 mb-1 text-primary">Comment on Youtube video</h1>
                <h2 class="h6">La platforme qui vous permet de commenter liberement.</h2>
                <p>Every comment est un system de commentaire suplementair de youtube, il vous donne la liberté de
                    commenter sans contraint sur n'importe qu'il video.</p>
            </div>
        </div>
    </section>
    <section id="app" class="container mb-5">
        <div class="row">
            <article class="col-md-12">
                <h3 class="h4 downloader-title">Colle le lien url d'une vidéo youtube ci-dessous pour afficher les
                    commentaires associés
                </h3>
                <div class="form-group">
                    <div class="input-group input-group-lg"><input name="url" type="url"
                            placeholder="Colle le lien url de la vidéo ici..." aria-label="url"
                            class="form-control">
                        <div class="input-group-append"><button type="submit" disabled="disabled"
                                aria-label="Télécharger" class="btn btn-primary rounded-right">
                                <div class="loader hidden"></div> Afficher
                            </button></div>
                        <!---->
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>